<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tylersticka.keepingyouawake</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3FD7D497-D290-4290-A11A-95BB5FB8E2DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65D0D0FE-A2C1-43A6-89D9-B5B81E327349</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65D0D0FE-A2C1-43A6-89D9-B5B81E327349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A40C86-229B-4A8A-BAFD-D8F0972740EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB2559F0-FCA2-4175-BEA2-55525106073B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FD7D497-D290-4290-A11A-95BB5FB8E2DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EFB502CA-1012-477F-A9CA-33F58F340F6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFB502CA-1012-477F-A9CA-33F58F340F6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAC7D9F4-C7B9-48F2-B660-F77DABBEB446</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAC7D9F4-C7B9-48F2-B660-F77DABBEB446</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24EAA57F-28DA-4166-9200-D04D5F269B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Sticka</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>KeepingYouAwake</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Mac won't sleep until you tell it to.</string>
				<key>title</key>
				<string>KeepingYouAwake: Activated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B0A40C86-229B-4A8A-BAFD-D8F0972740EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -g keepingyouawake:///activate</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65D0D0FE-A2C1-43A6-89D9-B5B81E327349</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3FD7D497-D290-4290-A11A-95BB5FB8E2DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cof</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking activation state...</string>
				<key>script</key>
				<string>pkya=$(pgrep KeepingYouAwake)

if [ pkya -eq /dev/null ] || [ $(ps aux | egrep "caffeinate.*$pkya" | wc -l) -eq 1 ]; then
  title="KeepingYouAwake: Activate"
  subtitle="Your Mac won't sleep until you tell it to.";
  icon="full.png"
  activate=1
else
  title="KeepingYouAwake: Deactivate"
  subtitle="Your Mac will sleep normally.";
  icon="icon.png"
  activate=0
fi

echo "{\"items\":[{\"uid\":\"smartToggle\",\"title\":\"$title\",\"subtitle\":\"$subtitle\",\"arg\":\"$activate\",\"icon\":{\"path\":\"$icon\"}}]}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Allow or disallow your Mac from sleeping.</string>
				<key>title</key>
				<string>KeepingYouAwake: Toggle</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EB2559F0-FCA2-4175-BEA2-55525106073B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Mac won't sleep until you tell it to.</string>
				<key>title</key>
				<string>KeepingYouAwake: Deactivated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>24EAA57F-28DA-4166-9200-D04D5F269B1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -g keepingyouawake:///deactivate</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FAC7D9F4-C7B9-48F2-B660-F77DABBEB446</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EFB502CA-1012-477F-A9CA-33F58F340F6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>24EAA57F-28DA-4166-9200-D04D5F269B1E</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>3FD7D497-D290-4290-A11A-95BB5FB8E2DF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>65D0D0FE-A2C1-43A6-89D9-B5B81E327349</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>B0A40C86-229B-4A8A-BAFD-D8F0972740EC</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>EB2559F0-FCA2-4175-BEA2-55525106073B</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>EFB502CA-1012-477F-A9CA-33F58F340F6D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>FAC7D9F4-C7B9-48F2-B660-F77DABBEB446</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/tylersticka/alfred-keepingyouawake</string>
</dict>
</plist>
