# Das hier ist nur ein Beispiel du kannst hier alle bash Kommandos einsetzen die Secrets enthalten.

git config --global user.name "FIRST_NAME LAST_NAME"
git config --global user.email "MY_NAME@example.com"
git config --global github.user MY_USERNAME
git config --global github.token MY_TOKEN


git config --global gpg.program /usr/local/bin/gpg
git config --global commit.gpgsign true
git config --global user.signingkey MY_SIGNINGKEY
