<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.caffeine.toggle</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>9644D1B6-2DD1-4FF5-9775-54C2700C3729</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CF0FDF9-1FDD-4CF4-B1E1-CA8B0797F163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E9258678-7411-4FCB-BF15-70F9FBF00B03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9644D1B6-2DD1-4FF5-9775-54C2700C3729</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Turns Caffeine off or on</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Caffeine Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>caf</string>
				<key>text</key>
				<string>Toggle Caffeine</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9258678-7411-4FCB-BF15-70F9FBF00B03</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

tell application "Caffeine"	if active then		turn off		set status to "deactivated."	else		turn on		set status to "activated."	end if		set output to "Caffeine has been " &amp; status		return output	end tell


end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9644D1B6-2DD1-4FF5-9775-54C2700C3729</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Caffeine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2CF0FDF9-1FDD-4CF4-B1E1-CA8B0797F163</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2CF0FDF9-1FDD-4CF4-B1E1-CA8B0797F163</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9644D1B6-2DD1-4FF5-9775-54C2700C3729</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E9258678-7411-4FCB-BF15-70F9FBF00B03</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
