<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.ngdemigod.hermes</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>16672DD9-104D-4FE6-B110-7EDF292848C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC92C141-D4F2-4FA6-A734-7E3E9040CD9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B0056B0-4647-489F-A8CB-AD10098E6539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF4B8C56-7825-4E48-85F6-7D98C6DA0EE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>490B817D-FAF7-435A-9732-FD911578E2FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5693B6E-8D86-4B86-9926-9C300AC3A36D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57CE6024-11B0-4D84-A814-54ED96F74CFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16672DD9-104D-4FE6-B110-7EDF292848C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F40E96F-2F72-44A0-864F-87114A40C70D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF4B8C56-7825-4E48-85F6-7D98C6DA0EE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FD3213B-CD42-433C-80F0-1A4BFD54290E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57CE6024-11B0-4D84-A814-54ED96F74CFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9617999C-3229-471A-BE8B-552A3B55753B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF4B8C56-7825-4E48-85F6-7D98C6DA0EE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A99D268-0335-4D40-96BC-403F8524BA6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FD3213B-CD42-433C-80F0-1A4BFD54290E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B1DED09-AE8D-4884-B723-7346CAB61263</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9617999C-3229-471A-BE8B-552A3B55753B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4ACE17A-32B3-4E65-A753-78FDCB854AD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9617999C-3229-471A-BE8B-552A3B55753B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7428BA9-4D93-4D88-A3F0-E3AEB6A6101F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FD3213B-CD42-433C-80F0-1A4BFD54290E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2E82F07-2374-49AF-A3B4-ABDF1C939FAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7428BA9-4D93-4D88-A3F0-E3AEB6A6101F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A99D268-0335-4D40-96BC-403F8524BA6A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Skip confirmation and call</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9CCE87E-8068-4620-8274-4D538DCE735A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5693B6E-8D86-4B86-9926-9C300AC3A36D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF4B8C56-7825-4E48-85F6-7D98C6DA0EE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF63C770-8475-4FDD-9994-F21E90C1C759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5693B6E-8D86-4B86-9926-9C300AC3A36D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FD3213B-CD42-433C-80F0-1A4BFD54290E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBBE07E1-D451-4945-857A-698CDB0284BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9CCE87E-8068-4620-8274-4D538DCE735A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>490B817D-FAF7-435A-9732-FD911578E2FB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Skip confirmation and Call</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Austin Saleh</string>
	<key>description</key>
	<string>Use to make phone calls via Facetime &amp; send SMS/iMessages via Alfred 4</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hermes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>False</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C9CCE87E-8068-4620-8274-4D538DCE735A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

tell application "Contacts"	set q to text ((offset of "Metadata/" in q) + 9) thru -1 of q	set q to text 1 thru ((offset of "." in q) - 1) of q	set phonenumber to value of phone of person id q	set phonenumber to item 1 of phonenumberend tell

return phonenumber

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F5693B6E-8D86-4B86-9926-9C300AC3A36D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>*</string>
						<key>words</key>
						<false/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>call</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Call using iPhone tethering if available</string>
				<key>title</key>
				<string>Call [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FBBE07E1-D451-4945-857A-698CDB0284BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>True</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>490B817D-FAF7-435A-9732-FD911578E2FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open 'tel://{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>57CE6024-11B0-4D84-A814-54ED96F74CFA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set minor_ver to system attribute "sys2" -- {sys1, sys2, sys3 } = { major, minor, bugfix}if 13 ≤ minor_ver then	tell application "System Events" to tell process "Notification Center"		delay 0.6		click button "Call" of windows	end tellelse	set tout to 8	set t to 0	repeat while t &lt; tout		tell application "System Events"			set facetime_running to count (every process whose name is "FaceTime")		end tell		if facetime_running is 1 then			try				tell application "System Events"					set frontWindow to front window of application process "FaceTime"					delay 0.6 
					#Needed to avoid weird flickering stuff. Increase Delay if still weird
					click button "Call" of application process "FaceTime"					exit repeat				end tell			end try		else			delay 0.1		end if		set t to t + 0.1	end repeatend if</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC92C141-D4F2-4FA6-A734-7E3E9040CD9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:skip_confirm}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>True</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>16672DD9-104D-4FE6-B110-7EDF292848C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^0-9]?</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8FD3213B-CD42-433C-80F0-1A4BFD54290E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>call</string>
				<key>subtext</key>
				<string>Call {query}</string>
				<key>text</key>
				<string>Call [Number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2E82F07-2374-49AF-A3B4-ABDF1C939FAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>False</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B7428BA9-4D93-4D88-A3F0-E3AEB6A6101F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>skip_confirm</key>
					<string>True</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A99D268-0335-4D40-96BC-403F8524BA6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>sms</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Message contact with imessage</string>
				<key>title</key>
				<string>Message [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>9B1DED09-AE8D-4884-B723-7346CAB61263</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

tell application "Contacts"	set q to text ((offset of "Metadata/" in q) + 9) thru -1 of q	set q to text 1 thru ((offset of "." in q) - 1) of q	set phonenumber to value of phone of person id q	set phonenumber to item 1 of phonenumberend tell


return phonenumber
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9617999C-3229-471A-BE8B-552A3B55753B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemPhoneNumbers</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>im</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Application Support/AddressBook</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Message contact with imessage</string>
				<key>title</key>
				<string>Message [Contact Name]</string>
				<key>types</key>
				<array>
					<string>com.apple.addressbook.person</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>B4ACE17A-32B3-4E65-A753-78FDCB854AD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open 'imessage://{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF63C770-8475-4FDD-9994-F21E90C1C759</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^0-9]?</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DF4B8C56-7825-4E48-85F6-7D98C6DA0EE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sms</string>
				<key>subtext</key>
				<string>sms {query}</string>
				<key>text</key>
				<string>sms [number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F40E96F-2F72-44A0-864F-87114A40C70D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>im</string>
				<key>subtext</key>
				<string>im {query}</string>
				<key>text</key>
				<string>im [number]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B0056B0-4647-489F-A8CB-AD10098E6539</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Allows users to make calls &amp; send messages (via iMessage) using the keywords i.e. 'Call', 'SMS', 'IM', etc</string>
	<key>uidata</key>
	<dict>
		<key>16672DD9-104D-4FE6-B110-7EDF292848C9</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>2B0056B0-4647-489F-A8CB-AD10098E6539</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>490B817D-FAF7-435A-9732-FD911578E2FB</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>skip confirmation</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>57CE6024-11B0-4D84-A814-54ED96F74CFA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Make call button appear</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6F40E96F-2F72-44A0-864F-87114A40C70D</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>8FD3213B-CD42-433C-80F0-1A4BFD54290E</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Remove letters and spaces (leaving numbers)</string>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>9617999C-3229-471A-BE8B-552A3B55753B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Extract number</string>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>9A99D268-0335-4D40-96BC-403F8524BA6A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>skip confirmation</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>9B1DED09-AE8D-4884-B723-7346CAB61263</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>B4ACE17A-32B3-4E65-A753-78FDCB854AD9</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>B7428BA9-4D93-4D88-A3F0-E3AEB6A6101F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>show confirmation popup before calling</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>BC92C141-D4F2-4FA6-A734-7E3E9040CD9D</key>
		<dict>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C2E82F07-2374-49AF-A3B4-ABDF1C939FAE</key>
		<dict>
			<key>note</key>
			<string>For numbers</string>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>C9CCE87E-8068-4620-8274-4D538DCE735A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>show confirmation popup before calling</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>DF4B8C56-7825-4E48-85F6-7D98C6DA0EE7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Remove letters and spaces (leaving numbers)</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>EF63C770-8475-4FDD-9994-F21E90C1C759</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>send to Messages.app</string>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>F5693B6E-8D86-4B86-9926-9C300AC3A36D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Extract number</string>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FBBE07E1-D451-4945-857A-698CDB0284BF</key>
		<dict>
			<key>note</key>
			<string>For contacts</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ngdemigod/Hermes.git</string>
</dict>
</plist>
