<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ezio.portkiller</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>43B7EE08-584D-48EE-816F-D750DD0333B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E492CD9E-F6CD-4F89-9DA2-DB3428E099F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93CF2B5E-D805-406E-BD4B-88275182EFC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5FA89D6-ACE5-456A-9A4B-6B80FE02B644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E492CD9E-F6CD-4F89-9DA2-DB3428E099F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>223BF883-023D-4ABD-A24C-9D5667C5016B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5FA89D6-ACE5-456A-9A4B-6B80FE02B644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DE4F22E-72A8-4D01-AE2F-EF24894D6BE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>liuyunclouder</string>
	<key>description</key>
	<string>kill the app occupying the specified port</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>portkiller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill -9 `lsof -i:$1 |tail -1|awk '{print $2}'`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5FA89D6-ACE5-456A-9A4B-6B80FE02B644</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Target is down</string>
				<key>title</key>
				<string>Success!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4DE4F22E-72A8-4D01-AE2F-EF24894D6BE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>kill the specified port</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93CF2B5E-D805-406E-BD4B-88275182EFC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>result=`lsof -i:$1 |tail -1|awk '{print $1}'`
echo $result</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E492CD9E-F6CD-4F89-9DA2-DB3428E099F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>find process with specified port</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43B7EE08-584D-48EE-816F-D750DD0333B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>223BF883-023D-4ABD-A24C-9D5667C5016B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>223BF883-023D-4ABD-A24C-9D5667C5016B</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>43B7EE08-584D-48EE-816F-D750DD0333B8</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>4DE4F22E-72A8-4D01-AE2F-EF24894D6BE4</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>93CF2B5E-D805-406E-BD4B-88275182EFC0</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>E492CD9E-F6CD-4F89-9DA2-DB3428E099F9</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>E5FA89D6-ACE5-456A-9A4B-6B80FE02B644</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/liuyunclouder/</string>
</dict>
</plist>
