<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>AE7E0F5F-843A-45BA-8959-560772E9D6F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A5D60F6-8923-4AE9-B4DD-E5F0B34DE55C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3A8B0EE8-3598-43AF-88FB-0DF782818098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB15C378-EB65-4135-9971-662FDAC43353</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A5D60F6-8923-4AE9-B4DD-E5F0B34DE55C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3A8B0EE8-3598-43AF-88FB-0DF782818098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Raffael Schmid</string>
	<key>description</key>
	<string>Use host from alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DNS Lookups</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6A5D60F6-8923-4AE9-B4DD-E5F0B34DE55C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>host</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching DNS data...</string>
				<key>script</key>
				<string>output=$(host {query})
host_exit_code=$?


echo '&lt;?xml version="1.0"?&gt;'
echo "&lt;items&gt;"


if [ $host_exit_code != 0 ]; then
  echo '&lt;item&gt;&lt;title&gt;Nothing found for {query}...&lt;/title&gt;&lt;/item&gt;'
else
  host {query} | while read line
  do
    value=$(echo $line | rev | awk '{print $1}' | rev)
    echo "&lt;item arg='$value'&gt;"
    echo "&lt;title&gt;${line}&lt;/title&gt;"
    echo "&lt;/item&gt;"
  done
fi

echo "&lt;/items&gt;"
echo "&lt;/xml&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&lt;DNS Name&gt;</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FB15C378-EB65-4135-9971-662FDAC43353</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3A8B0EE8-3598-43AF-88FB-0DF782818098</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dns</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching DNS data...</string>
				<key>script</key>
				<string>output=$(host {query})
host_exit_code=$?


echo '&lt;?xml version="1.0"?&gt;'
echo "&lt;items&gt;"


if [ $host_exit_code != 0 ]; then
  echo '&lt;item&gt;&lt;title&gt;Nothing found for {query}...&lt;/title&gt;&lt;/item&gt;'
else
  host {query} | while read line
  do
    value=$(echo $line | rev | awk '{print $1}' | rev)
    echo "&lt;item arg='$value'&gt;"
    echo "&lt;title&gt;${line}&lt;/title&gt;"
    echo "&lt;/item&gt;"
  done
fi

echo "&lt;/items&gt;"
echo "&lt;/xml&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>&lt;DNS Name&gt;</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AE7E0F5F-843A-45BA-8959-560772E9D6F4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3A8B0EE8-3598-43AF-88FB-0DF782818098</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6A5D60F6-8923-4AE9-B4DD-E5F0B34DE55C</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AE7E0F5F-843A-45BA-8959-560772E9D6F4</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>FB15C378-EB65-4135-9971-662FDAC43353</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
