<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gehirnfussel_pwgen</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>A1A34F89-2B39-42D1-BBE4-A04CA0F6565A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5E17FD2-4DC9-44F1-9251-F1E316C1E230</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>142605A2-F8D7-4E8F-898C-06C92A6BA725</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A58FC1C4-7C05-4ECD-AC8D-DA0EF6D389FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1A34F89-2B39-42D1-BBE4-A04CA0F6565A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@Gehirnfussel</string>
	<key>description</key>
	<string>Generates a password with n characters</string>
	<key>name</key>
	<string>Password Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Password Generator</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C5E17FD2-4DC9-44F1-9251-F1E316C1E230</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pwgen</string>
				<key>subtext</key>
				<string>Creates a password with {query} characters.</string>
				<key>text</key>
				<string>Password Generator</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A58FC1C4-7C05-4ECD-AC8D-DA0EF6D389FD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>142605A2-F8D7-4E8F-898C-06C92A6BA725</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>//
// Script by tylerhall
// Link: https://gist.github.com/521810
//

function generateStrongPassword($length = {query}, $add_dashes = false, $available_sets = 'luds')
{
	$sets = array();
	if(strpos($available_sets, 'l') !== false)
		$sets[] = 'abcdefghjkmnpqrstuvwxyz';
	if(strpos($available_sets, 'u') !== false)
		$sets[] = 'ABCDEFGHJKMNPQRSTUVWXYZ';
	if(strpos($available_sets, 'd') !== false)
		$sets[] = '23456789';
	if(strpos($available_sets, 's') !== false)
		$sets[] = '_.!#@';
 
	$all = '';
	$password = '';
	foreach($sets as $set)
	{
		$password .= $set[array_rand(str_split($set))];
		$all .= $set;
	}
 
	$all = str_split($all);
	for($i = 0; $i &lt; $length - count($sets); $i++)
		$password .= $all[array_rand($all)];
 
	$password = str_shuffle($password);
 
	if(!$add_dashes)
		return $password;
 
	$dash_len = floor(sqrt($length));
	$dash_str = '';
	while(strlen($password) &gt; $dash_len)
	{
		$dash_str .= substr($password, 0, $dash_len) . '-';
		$password = substr($password, $dash_len);
	}
	$dash_str .= $password;
	return $dash_str;
}
echo generateStrongPassword();</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1A34F89-2B39-42D1-BBE4-A04CA0F6565A</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>142605A2-F8D7-4E8F-898C-06C92A6BA725</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>A1A34F89-2B39-42D1-BBE4-A04CA0F6565A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A58FC1C4-7C05-4ECD-AC8D-DA0EF6D389FD</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>C5E17FD2-4DC9-44F1-9251-F1E316C1E230</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://dyingpixels.com</string>
</dict>
</plist>
