<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.robert-arellano.lorem-ipsum</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0F1D7E22-4EAE-42CF-8C6A-CA9E8CC53C0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>202E3500-A862-47F7-BCD0-9204E53A9717</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31015D5A-9035-4C32-B019-3126F0691328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43EDB752-DB87-4220-953B-20D708536C86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BA12FC8-CFC9-43EE-A7A7-046D8A99CCF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31015D5A-9035-4C32-B019-3126F0691328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>937DECF2-AB6B-4CDE-96CC-9F86FECF2D4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31015D5A-9035-4C32-B019-3126F0691328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CA09D57-D3DF-4E76-93D3-82E3F61F7A58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robert Arellano</string>
	<key>description</key>
	<string>Lorem Ipsum Generator via freeformatter.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lorem Ipsum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby lipsum.rb "{query}" "paras"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>paragraph</string>
				<key>triggername</key>
				<string>Paragraph</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>9CA09D57-D3DF-4E76-93D3-82E3F61F7A58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>subtext</key>
				<string>Generate lipsum paragraphs</string>
				<key>text</key>
				<string>Paragraph</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>202E3500-A862-47F7-BCD0-9204E53A9717</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>list</string>
				<key>triggername</key>
				<string>List</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>0F1D7E22-4EAE-42CF-8C6A-CA9E8CC53C0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D0A818EC-E8AD-46B3-84EA-0638C897158B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby lipsum.rb "{query}" "lists"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>subtext</key>
				<string>Generate lipsum list items</string>
				<key>text</key>
				<string>List</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43EDB752-DB87-4220-953B-20D708536C86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby lipsum.rb "{query}" "words"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>31015D5A-9035-4C32-B019-3126F0691328</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Word</string>
				<key>triggername</key>
				<string>Word</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>937DECF2-AB6B-4CDE-96CC-9F86FECF2D4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>subtext</key>
				<string>Generate lipsum words</string>
				<key>text</key>
				<string>Word</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6BA12FC8-CFC9-43EE-A7A7-046D8A99CCF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F1D7E22-4EAE-42CF-8C6A-CA9E8CC53C0D</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>202E3500-A862-47F7-BCD0-9204E53A9717</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>31015D5A-9035-4C32-B019-3126F0691328</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>43EDB752-DB87-4220-953B-20D708536C86</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6BA12FC8-CFC9-43EE-A7A7-046D8A99CCF2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>8AE39E6D-47A3-4650-A93A-D649EA1A5B2E</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>937DECF2-AB6B-4CDE-96CC-9F86FECF2D4F</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>9CA09D57-D3DF-4E76-93D3-82E3F61F7A58</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D0A818EC-E8AD-46B3-84EA-0638C897158B</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FD0C6A0D-1CFD-4EBD-9DCB-68F99A1F484D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>robert-arellano.com</string>
</dict>
</plist>
