<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>4155B0F7-1739-48F7-B5EA-94F9754E474A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>xing</string>
			<key>text</key>
			<string>Search Xing for '{query}'</string>
			<key>url</key>
			<string>https://www.xing.com/search/members?keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
